<mat-toolbar>
    <div class="flex items-center justify-between max-w-[1500px] mx-auto w-full">
        <!-- Logo / Home -->
        <a matButton="tonal" routerLink="/" routerLinkActive="active-link">
            <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
            Home
        </a>

        <!-- <nav class="flex gap-4">
            <a matButton="" routerLink="/novels" routerLinkActive="active-link">
                Novels
            </a>
            <a matButton="" routerLink="/about" routerLinkActive="active-link">
                About
            </a>
        </nav> -->
    </div>
</mat-toolbar>