<table mat-table [dataSource]="(novels && novels.length > 0) ? novels : []" multiTemplateDataRows
    class="mat-elevation-z8 novel-table">
    @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <td mat-cell *matCellDef="let novel">
            @if (column === 'operation') {
            <button mat-icon-button [disabled]="loadingDeletingNovel()"
                (click)="deleteNovel(novel); $event.stopPropagation()" aria-label="Delete novel">
                <mat-icon class="text-error!">delete</mat-icon>
            </button>
            } @else {
            {{novel[column]}}
            }
        </td>
    </ng-container>
    }
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let novel">
            <button mat-icon-button aria-label="expand row" (click)="toggle(novel); $event.stopPropagation()"
                class="expand-toggle-button" [class.expand-toggle-button--rotated]="isExpanded(novel)">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let novel" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="expanded-content-wrapper" [class.expanded-content-wrapper--open]="isExpanded(novel)">
                <div class="expanded-content">
                    <figure class="expanded-content__image">
                        <img class="aspect-2/3 h-40 md:h-60 rounded-md object-cover shadow-sm"
                            [src]="novel.cover_url ?? ''" [alt]="novel.title | truncate:80" />
                    </figure>
                    <div class="expanded-content__description">
                        {{novel.description}}
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let novel; columns: columnsToDisplayWithExpand;" class="novel-row"
        [class.novel-row--expanded]="isExpanded(novel)" (click)="toggle(novel)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-detail-row"></tr>
</table>