<section>
    <app-uploader [files]="files" [accept]="acceptTypes" [maxFiles]="1" [maxFileSize]="maxUploadSize"
        (filesChanged)="onFilesChanged($event)" (rejectedFiles)="onFilesRejected($event)"></app-uploader>

    @if (selectedFile) {
    <div class="mt-4">
        <button mat-raised-button (click)="uploadFile()" [disabled]="isUploading">
            Upload {{ selectedFile.name }}
        </button>
    </div>
    }

    @if (isUploading()) {
    <div class="mt-4">
        <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
        <div class="text-center mt-2">{{ uploadProgress }}%</div>
    </div>
    }
</section>