@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-error: var(--mat-sys-error);
  --color-on-error: var(--mat-sys-on-error);
}